# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.idea/
*.iml

# Visual Studio Code (PENTING: Ini yang menahan launch.json kamu)
.vscode/

# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-specific
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Secrets / Keystore
key.properties
**/*.keystore
**/*.jks

# Jika nanti kamu pakai file .env, dia juga otomatis tertahan di sini
.env